body {
    background-color: rgb(249, 246, 245) !important;
  }
.nav_main {
    background-color: rgba(65, 8, 67, 0.9);
    color: white !important;
    padding: 1rem !important;
    text-decoration-color: white;
}
  
  .logo_navbar {
    font-family: 'Lobster', cursive;
    font-size: 4rem !important;
    margin-left: 2rem !important;
    color: white !important;
  }