.navbar {
    background-color: rgba(136, 20, 140, 0.9);
    color: white !important;
    padding: 1rem !important;
  }
  
  .navbar-text {
    margin-right: 2rem !important;
    color: white !important;
  }
  
  .logo_navbar {
    font-family: 'Lobster', cursive;
    font-size: 4rem !important;
    margin-left: 2rem !important;
    color: white !important;
  }